.navbar{
  background-color: #4723d9;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars{
  margin-left: auto;
  margin-right: 20px;
  font-size: 2rem;
  margin-top: -25px;
  background: none;
  
}
.menu-button{
  font-size: 2rem;
  margin-left: 20px;
  margin-top: -10px;

}
.nav-menu{
  background-color: #4723d9;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active{
  left: 0;
  transition: 850ms;
}
.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
}
.nav-text a{
  text-decoration: none;
  color: #e0dee8;
  font-size: 18px;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  height: 50px;
}
.nav-text a:hover{
  color: #fff;
}
.nav-menu-items{
  width: 100%;
}
.navbar-toggle{
  background-color: #4723d9;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
/* span{
  margin-left: 16px;
} */
.sidebarIcon{
  color: #e0dee8;
  position: absolute;
  left: 20px;
  margin-right: auto;
}
.sidebarTitle{
  display: flex;
  justify-content: space-between;
}
.itemIcon{
  margin-right: 20px;
}